@import "../styles/base-variables";

.markdown {
  padding: 1em;
  width: 100%;
  text-align: left;

  a {
    font-weight: 700;
    color: $primary-color;

    &:hover {
      color: darken($primary-color, 10);
    }
  }
}